<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Concert Reservation</title>
</head>
<body>
  <header>
    <div class="logo">
      <!-- 로고 이미지 또는 텍스트 -->
    </div>
    <div class="menu">
      <!-- 메뉴 항목 -->
    </div>
    
  </header>